/* app.css */

body {
  background-color: #ed9455;
}
/* Styling form group */
.form-group {
  margin-bottom: 20px;
}

/* Styling card */
.card {
  border-radius: 10px;
  background-color: #fffbda;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
}

/* Styling card body */
.card-body {
  padding: 30px;
}

h1 {
  font-weight: 800;
}
/* Styling label */
.label-text {
  color: #333;
  font-weight: bold;
}

/* Styling input */
.form-control {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent; /* Menghapus border bawaan */
  box-shadow: 0 0 0 1px #000000;
}

/* Styling primary button */
/* styles.css */

/* Tombol login kustom */
.btn-login-custom {
  width: 530px; /* Lebar tombol */
  height: 60px; /* Tinggi tombol */
  border-radius: 10px; /* Tepi dibulatkan */
  background-color: #ed9455; /* Warna latar belakang */
  border: none; /* Tidak ada garis tepi */
  color: #fff; /* Warna teks */
  font-size: 1.2rem; /* Ukuran font */
  font-weight: bold; /* Tebal tulisan */
  transition: background-color 0.3s ease; /* Transisi hover */
}

/* Efek hover untuk tombol login */
.btn-login-custom:hover {
  background-color: #ffc08b; /* Warna latar belakang saat dihover */
}
