
body {
    background-color: #f8f9fa;
}

.custom-container {
    max-width: 800px;
    margin: 0 auto;
}

.custom-btn {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}
