/* OrderTable.css */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Aturan untuk membuat tabel responsif */
.table-responsive {
  overflow-x: auto;
}

/* Menyembunyikan kolom tertentu pada layar kecil */
@media (max-width: 768px) {
  .hide-on-small-screen {
    display: none;
  }
}

/* Flexbox untuk membuat tombol sejajar */
.btn-group {
  display: responsive; /* Mengubah display menjadi flex */
  align-items: center;
}

.btn-group button {
  margin-right: 2px; /* Berikan ruang antara tombol-tombol */
}
